<div class="success-alert" id="success-message">
    <div class="success-alert-check">
      <i class="fa-solid fa-check"></i>
    </div>
    <div class="success-alert-text">
      <span style="font-size: 1.2rem"><%-message-%></span>
    </div>
    <div class="success-alert-close" onclick="closeMessage()">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>